.summary {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.scenarioƒTab {
  position: fixed;
  top: 3.5rem;
  z-index: 100;
}

.metricsGridLeft {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 260px;
  z-index: 1;
  position: relative;
}
.outputTab {
  width: 260px;
}
.outputGridRight {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 260px;
  z-index: 1;
  position: relative;
}

.orebodyViewTab {
  width: fit-content;
  position: absolute;
  left: 1vw;
  top: 89.5vh;
  z-index: 100;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  
}