.dashboard {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.content {
  max-width: 1020px;
  align-self: center;
  width: 100%;
  min-height: 90vh;
}
.sectionContainer {
  width: 100%;
  justify-items: center;
  box-sizing: border-box;
  padding: 6vh 0;
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin-bottom: 2rem; /* ensures next component does not overlap */
}

.scenarioLabel {
  font-size: 0.7rem;
  color: var(--darker-text);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  margin: 4px 0 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  color: var(--default-text);
  align-items: flex-end;
  padding: 1vh 0vw;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;

}

.headerContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10vw;
  flex-direction: row;
  z-index: 999;
}

.headerContentLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}


.headerContentRight{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}