.tableContainer {
  border-radius: 8px;
  overflow: hidden;
  margin: 2vh 0vw;
  border: 1px solid var(--table-border);
  align-self: center;
}

.header {
  display: grid;
  background-color: var(--table-cell);
}

.headerCell {
  padding: 16px 16px 0 16px;
  color: var(--white);
  font-weight: 700;
  border-right: 1px solid var(--table-border);
}

.subheader {
  padding: 16px;
  font-weight: 500;
  color: var(--darker-text-300);
  font-size: 0.8rem;
  border-right: 1px solid var(--table-border);
}

.headerCell:last-child {
  border-right: none;
}

.row {
  display: grid;
  background-color: var(--table-cell);
}

.borderBottom {
  border-bottom: 1px solid var(--table-border-transparent);
}

.rowLabel {
  padding: 8px 16px 16px 16px;
  background-color: var(--table-cell);
  border-right: 1px solid var(--table-border-transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rightAlign {
  justify-content: right !important;
}

.sectionCell {
  padding-top: 36px;
  padding-left: 16px;
  border-right: 1px solid var(--table-border-transparent);
}

.sectionCellSmall {
  padding-top: 8px;
  padding-left: 16px;
  border-right: 1px solid var(--table-border-transparent);
}

.sectionCell:last-child {
  border-right: none;
}

.sectionTitle {
  color: var(--darker-text-300);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
}


.rowSubLabel {
  color: var(--darker-text);
  font-size: 14px;
  font-weight: 500;
}

.indentLabel {
  padding-left: 2rem;
}

.cell {
  color: var(--default-text);
  border-right: 1px solid var(--table-border-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 14rem;
}

.divier { 
  width: 1px;
  height: 100%;
  background-color: var(--table-border-transparent);
}

.verticalStack {
  display: flex;
  flex-direction: column;
  padding: 8px;
  text-align: right;
}

.verticalStackLabel {
  font-size: 0.9rem;
  color: var(--darker-text);
  font-weight: 500;
}

.textCell {
  padding: 8px 8px 0px 8px;
  text-align: right;
  color: var(--default-text);
  width: 100%;
}

.cell:last-child {
  border-right: none;
}

.miniChart {
  width: 100%;
  padding: 0 16px;
  height: 80px;
}

.assumptionValue {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  justify-content: space-between;
  padding: 0 8px;
  justify-content: end;
}

.diaDifference {
  background: var(--content-background);
  padding: 0px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  gap: 4px;
  color: var(--darker-text);
  height: 24px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.noData {
  width: 8px;
  height: 2px;
  border-radius: 1px;
  background: var(--default-text);
}

.diaDifferenceIcon {
  font-size: 0.6rem;
  margin-left: 4px;
  color: var(--default-text);
}

/** BAR CHART STYLES */
.horizontalBarChart {
  width: 100%;
  padding: 16px 16px;
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.barRow {
  display: flex;
  align-items: center;
  gap: 4px;
}

.barLabel {
  font-size: 0.7rem;
  color: var(--darker-text);
  width: 30px;
  text-align: right;
}

.barContainer {
  flex: 1;
  height: 18px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: var(--accent);
}

.barValue {
  font-size: 0.9rem;
  color: var(--default-text);
  width: 30px;
  text-align: right;
}

/** INCLINATION STYLES */
.inclinationIndicator {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.inclinationColumn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  flex: 1;
  flex-direction: column;
}

.inclinationLabel {
  font-size: 0.7rem;
  color: var(--darker-text);
}

.angleIndicatorContainer {
  width: 80px;
  height: 40px;
  align-items: center;
}

.angleIndicator {
  width: 20px;
  height: 2px;
  background-color: var(--white);
  transform-origin: left center;
  border-radius: 1px;
}

.inclinationValue {
  font-size: 0.8rem;
  color: var(--default-text);
}

/** QUANTITY STYLES */
.quantityChart {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  padding: 1rem;
}

.quantityBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  justify-content: flex-end;
}

.quantityBarFillOuter {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.quantityBarFill {
  width: 18px;
  background: var(--accent);
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* fallback support layering for mix-blend-mode */
  isolation: isolate;
}

.quantityLabel {
  font-size: 9px;
  margin-top: 4px;
  color: var(--darker-text);

}

.quantityValue {
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  width: 28px;
  line-height: 28px;
  text-align: right;
  transform-origin: top left;
  transform: translateY(100%) rotate(-90deg);
  font-size: 0.85rem;
  font-weight: 400;
  z-index: 2;
  color: var(--default-text);

  /* (webkit) - makes text act as mask */
  background: black;
  -webkit-mask-image: text;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-composite: xor;

  mask-image: text;
  mask-composite: exclude;

  /* FALLBACK: Blend mode for browsers that ignore masks */
  mix-blend-mode: destination-out;
}

.seeMoreButton {
  padding: 12px;
  text-align: center;
  color: var(--default-text);
  cursor: pointer;
  background: var(--table-cell);
  transition: background-color 0.2s ease;
  user-select: none;
}

.seeMoreButton:hover {
  background-color: var(--table-border);
}