.tdContent {
  min-height: 40px;
  display: flex;
  align-items: center;
}
.table {
  width: 100%;
  text-align: left;
  border-width: 0px;
  border-collapse: separate;
  border-spacing: 0;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
}

.tr {
  display: contents;
}

.thead {
  display: contents;
}

.tbody {
  display: contents;
}

tbody .tr:hover {
  background-color: var(--table-row-hover);
  cursor: pointer;
}
.td:hover {
  background-color: var(--table-row-hover);
}

.th, .td {
  color: var(--default-text);
  padding: 8px 12px;
  font-weight: normal;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--dark-background-300);
  display: grid;
  align-items: center;
}

.rowHover {
  background-color: var(--table-row-hover) !important;
  cursor: pointer;
}

.th {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.td {
  font-weight: 400;
}

.th.shrink, .td.shrink {
  white-space: nowrap;
  padding: 8px 4px;
}
.status {
  padding: 1px 8px;
  width: fit-content;
  border-radius: 10px;
  color: #14261BDE;
  font-weight: 600;
}

.option {
   cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 0;
  width: 150px;
}

.editOption {
  color: var(--default-text);
}

.deleteOption {
  color: var(--error100);
}
.menuButton {
  width: 40px;
}
