@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-manrope: "Manrope Variable", ui-sans-serif, system-ui, sans-serif;

    /* ToolTip Level Colors */
    --color-tooltip-1: #29BBAC;
    --color-tooltip-1-border: #155C554D;
    --color-tooltip-2: #58CD8D;
    --color-tooltip-2-border: #37B97466;
    --color-tooltip-3: #ECC92A;
    --color-tooltip-3-border: #9D820B99;
    --color-tooltip-4: #F2A61D;
    --color-tooltip-4-border: #BE7C09CC;
    --color-tooltip-5: #FE592A;
    --color-tooltip-5-border: #D94C24;
    --color-tooltip-text: #E5F3EB99;
    --color-tooltip-bg: #1A1E1B;
    --color-tooltip-border: #E5F3EB14;


}

html,
body {
    @apply dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
