.metricGrid {
  width: 100%;
  display: grid;
  gap: 8px;
}

.metricGridCell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 0;
}
.metricCard,
.metricCardOneRow,
.metricCardThreeRows,
.metricCardComposite {
  background-color: var(--metric-card-background);
  border: var(--metric-card-border);
  border-radius: 8px;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  min-width: 0;
  flex: 1;
}

.metricCard {
  flex-direction: column;
}

.metricCard.fullWidth {
  grid-column: 1 / -1;
}


.sufix, .prefix {
  color: var(--darker-text);
}

.metricLabel {
  font-size: clamp(12px, 1.2cqh, 1.8rem);
  color: var(--darker-text);
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  align-items: center;
  gap: 2px;
}

.metricCardOneRow {
  display: flex;
  flex-direction: row-reverse;
  grid-column: 1 / -1;
  align-items: flex-end;
}

.metricCardOneRow .metricLabel {
  font-size: 1.5cqh;
  font-weight: 400;
  color: var(--default-text);
  margin: 0;
}

.metricCardOneRow .metricValue {
  font-size: 2.2cqh;
  font-weight: 700;
  margin: 0;
  color: var(--default-text);
}

.metricCardComposite {
  grid-column: 1 / -1;
  flex-direction: column;
  padding: 0
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metricCardComposite .metricCard {
  border: none;
  flex-grow: 1;
}

.leftData {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-right: var(--metric-card-border) !important;
  border-bottom: var(--metric-card-border) !important;
}

.rightData {
  border-bottom: var(--metric-card-border) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bottomData {
  background-color: var(--dark-background-300);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.metricCardThreeRows {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
}

.metricCardThreeRows .metricCard {
  border: none;
  flex: 1;
  padding: 0;
  margin-top: 4px;
  background-color: transparent;

}

.infoContainer {
  position: relative;
  display: inline-block;
  cursor: pointer;

  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.tooltipAbove {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: #222;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.8rem;
  white-space: pre-line;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
  max-width: 200px;
  z-index: 9999;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dim {
  color: var(--darker-text) !important;
}

/** Three Rows */
.labelRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;
}

/* GroupedInfoCard */
.groupedInfoCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
}

.cardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: var(--metric-card-border);
  background-color: var(--metric-card-background);
  margin-bottom: -1px;
}

.dark {
  background: var(--background);
  border: var(--metric-card-border);

}

/* First row - rounded top corners */
.cardRow:first-child {
  border-top-left-radius:0.5rem;
  border-top-right-radius:0.5rem;
}

/* Last row - rounded bottom corners */
.cardRow:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 0;
  /* Remove negative margin for last item */
}

/* Single row - rounded all corners */
.cardRow:only-child {
  border-radius: 0.5rem;
}

.rowLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4rem;
  flex: 2;
}

.rowRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4rem;
  border-left: var(--metric-card-border);
  border-left-width: 2px;
  flex: 1;
}

.value {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--default-text);
  margin-bottom: 0.1rem;
}

.label {
  font-size: 0.8rem;
  color: var(--default-text);
  font-weight: 400;
  display: flex;
  align-items: center;
}

@keyframes flashBackground {
  0% {
    background-color: var(--metric-card-background);
  }

  20% {
    background-color: var(--accent-card);
  }

  80% {
    background-color: var(--accent-card);
  }

  100% {
    background-color: var(--metric-card-background);
  }
}

.flash {
  animation: flashBackground 1.5s ease-in-out;
}

@keyframes flashBackgroundDark {
  0% {
    background-color: var(--metric-card-background);
  }

  20% {
    background-color: var(--accent-card-dark);
  }

  80% {
    background-color: var(--accent-card-dark);
  }

  100% {
    background-color: var(--metric-card-background);
  }
}

.flashDark {
  animation: flashBackgroundDark 1.5s ease-in-out;

}