.table {
  width: 100%;
  text-align: left;
  border-width: 0px;
  border-collapse: separate;
  border-spacing: 0;
  padding: 20px;
  box-sizing: border-box;
}

.th, .td {
  color: var(--default-text);
  padding: 8px 12px;
  font-weight: normal;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--dark-background-300);
}

.th {
  font-weight: 600;
}

.td {
  font-weight: 400;
}

.status {
  padding: 1px 8px;
  width: fit-content;
  border-radius: 10px;
  color: #14261BDE;
  font-weight: 600;
}

.option {
   cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 0;
  width: 150px;
}

.editOption {
  color: var(--default-text);
}

.deleteOption {
  color: var(--error100);
}