@import './styles/colors.css';
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  /* Replace with your desired color */
  overscroll-behavior: none;
  font-size: 1rem;

}

* {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

input {
  background: var(--input-background);
  border: var(--box-border);
  border-radius: 6px;
  color: var(--default-text);
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;

}

button {
  background: var(--accent);
  border: 0;
  color: var(--primary-button-text);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;

}

button:disabled {
  cursor: default;
  opacity: 50%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--default-text)
}

.row {
  display: flex;
  flex-direction: row;
}

.buttonNoBg {
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.borderButton {
  border: 1px solid var(--accent);
  cursor: pointer;
  background: none;
  border-radius: 8px;
  color: var(--accent);
}

.touched {
  opacity: 0.5;
}

button:focus {
  outline: none;
}

/* CheckboxComponent.css */
input[type='checkbox'] {
  accent-color: #68DDD2;
  color: var(--darker-text);
}


*:focus {
  outline: none;
  box-shadow: none;
}

:root {
  --station-panel-height-dynamic: calc(100vh - var(--header) - var(--paging-height) - 25px);

  --panel-content-height: calc(var(--station-panel-height-dynamic) - var(--station-title-height) - var(--station-metrics-height) - 25px);
  --panel-content-width: calc(840 / 1313 * var(--panel-content-height));
  --radargram-width-dynamic: calc(640 / 1313 * var(--panel-content-height));
  --ata-width: calc(200 / 840 * var(--panel-content-width));

  --station-panel-narrow: calc(var(--radargram-width-dynamic) + var(--ata-width-narrow));

  --radargram-width-focus: calc((var(--station-panel-height-dynamic) - var(--station-metrics-height) - var(--station-title-height) - 4px));
  --station-panel-width: var(--panel-content-width);
  --border-width: 3px;
  --content-width: calc(100vw - var(--label-list-width));
  --core-sample-height: calc(var(--station-panel-width) / 354 * 17);

  --station-panel-height: 768px;
  --header: 40px;
  --paging-height: 70px;
  --station-title-height: 5vh;
  --station-metrics-height: 13vh;
  --ata-width-narrow: 12px;
  --label-list-width: 230px;

}


/** STL Viewer **/
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-manrope: "Manrope Variable", ui-sans-serif, system-ui, sans-serif;

  /* ToolTip Level Colors */
  --color-tooltip-1: #29BBAC;
  --color-tooltip-1-border: #155C554D;
  --color-tooltip-2: #58CD8D;
  --color-tooltip-2-border: #37B97466;
  --color-tooltip-3: #ECC92A;
  --color-tooltip-3-border: #9D820B99;
  --color-tooltip-4: #F2A61D;
  --color-tooltip-4-border: #BE7C09CC;
  --color-tooltip-5: #FE592A;
  --color-tooltip-5-border: #D94C24;
  --color-tooltip-text: #E5F3EB99;
  --color-tooltip-bg: #1A1E1B;
  --color-tooltip-border: #E5F3EB14;


}

html,
body {
  @apply dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}